@CHARSET "UTF-8";

#panel {
	position: fixed;
	top: 50px;
	right: -272px;
	z-index: 99999;
	transition: right 0.5s ease-out 0s;
}

#panel:hover {
	right: 0;
}

#panel #content {
	width: 250px;
	height: 300px;
	padding: 10px;
	border-top: 2px solid #C30011;
	border-right: none;
	border-bottom: 2px solid #C30011;
	border-left: 2px solid #C30011;
	z-index: 20;
	background: #FFFFFF;
	position: relative;
	border-radius: 10px 0 0 10px;
}

#panel #title {
	width: 150px;
	border: 2px solid #C30011;
	background: #E61B2D;
	color: #FFFFFF;
	font-weight: bold;
	border-radius: 10px;
	padding: 5px 5px 25px 5px;
	text-align: center;
	position: relative;
	top: 140px;
	left: -90px;
	transform: rotate(-90deg);
	z-index: 1;
}