@CHARSET "UTF-8";

#tabBar {
	height: auto;
	height: 35px;
	margin-left: 0px;
	margin-right: auto;
	font-size: 16px;
	font-family: sens-serif;
	font-weight: bold;
	background-color: black;
}


#tabBar ul {
	height: auto;
	padding: 8px 0px;
	margin: 0px;
	list-style: none;
}

#tabBar ul li {
    border: 1px #aaa solid;	
    border-bottom: none;
	display: inline;
	padding: 5px;
}

#tabBar ul li.active {
	margin-bottom: -1px;
	padding-bottom: 6px;
}

#tabInner {
   clear: both;
   border: 1px solid #aaa;
   overflow: hidden;
   background: black;	
}
   .tab_content {
     display:none;
   }
   
   .tab_content.active {
      display: block;
   }
#tabInner div {
	padding: 10px;	
}

#tabBar a {
	text-decoration: none;
}
